<b>
	Hello world!
	</br>
	<% @rob.each do | item | %>
		<% if item == "manzada" %>
			<span>PERORAO <%= item %></span>
			</br>
		<% else %>
			<span><%= item %></span>
			</br>
		<% end %>
	<% end %>
</b>